.top {
  display: flex;
  justify-content: space-between;
}

.upgrade {
  background-color: transparent;
  color: white;
  border-radius: 50px;
  border: 1px solid darkgray;
  width: 90px;
  height: 25px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.upgrade:hover {
  border: 1px solid white;
  background-color: black;
  width: 95px;
  height: 30px;
  transition: 200ms;
}
.buttonTop {
  display: flex;
  gap: 20px;
}
.account {
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 120px;
  height: 25px;
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
}
.account:hover {
  border: 1px solid white;
  background-color: gray;
  transition: 200ms;
}
.container {
  width: 100vw;
  background-color: rgb(32, 34, 34);
  /* transition: 1s; */
  margin-left: 250px;
  height: 1500px;


}
.afternoon {
  color: #eee;
}
.box {
  width: 500px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(48, 46, 46);
}
.box:hover {
  background-color: rgb(98, 94, 94);
}
.upper {
  display: flex;
  gap: 50px;
}
.bottom {
  display: flex;
  gap: 50px;
}
.boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont {
  margin-left: 20px;
}
.card {
  width: 220px;
  height: 350px;
  border-radius: 5px;
  background-color: rgb(48, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  color: gray;
  font-size: medium;
}
.text1 {
  color: #eee;
}
.cards {
  display: flex;
  gap: 20px;
}
.card:hover {
  background-color: rgb(98, 94, 94);
}
/* .box:hover .account {
  background-color: #eee;
} */