.top {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon > p {
  color: #eee;
}
.container {
  background-color: #000;
  height: 100vh;
  width: 200px;
}
.bottom {
  color: gray;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
